/* font-family: "HelveticaRegular"; */
@font-face {
    font-family: "HelveticaRegular";
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot");
    src: url("../fonts/HelveticaRegular/HelveticaRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaRegular/HelveticaRegular.woff") format("woff"),
    url("../fonts/HelveticaRegular/HelveticaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBold"; */
@font-face {
    font-family: "HelveticaBold";
    src: url("../fonts/HelveticaBold/HelveticaBold.eot");
    src: url("../fonts/HelveticaBold/HelveticaBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBold/HelveticaBold.woff") format("woff"),
    url("../fonts/HelveticaBold/HelveticaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaItalic"; */
@font-face {
    font-family: "HelveticaItalic";
    src: url("../fonts/HelveticaItalic/HelveticaItalic.eot");
    src: url("../fonts/HelveticaItalic/HelveticaItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaItalic/HelveticaItalic.woff") format("woff"),
    url("../fonts/HelveticaItalic/HelveticaItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLight"; */
@font-face {
    font-family: "HelveticaLight";
    src: url("../fonts/HelveticaLight/HelveticaLight.eot");
    src: url("../fonts/HelveticaLight/HelveticaLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLight/HelveticaLight.woff") format("woff"),
    url("../fonts/HelveticaLight/HelveticaLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBlack"; */
@font-face {
    font-family: "HelveticaBlack";
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot");
    src: url("../fonts/HelveticaBlack/HelveticaBlack.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBlack/HelveticaBlack.woff") format("woff"),
    url("../fonts/HelveticaBlack/HelveticaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavy"; */
@font-face {
    font-family: "HelveticaHeavy";
    src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot");
    src: url("../fonts/HelveticaHeavy/HelveticaHeavy.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaHeavy/HelveticaHeavy.woff") format("woff"),
    url("../fonts/HelveticaHeavy/HelveticaHeavy.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMedium"; */
@font-face {
    font-family: "HelveticaMedium";
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot");
    src: url("../fonts/HelveticaMedium/HelveticaMedium.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaMedium/HelveticaMedium.woff") format("woff"),
    url("../fonts/HelveticaMedium/HelveticaMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThin"; */
@font-face {
    font-family: "HelveticaThin";
    src: url("../fonts/HelveticaThin/HelveticaThin.eot");
    src: url("../fonts/HelveticaThin/HelveticaThin.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaThin/HelveticaThin.woff") format("woff"),
    url("../fonts/HelveticaThin/HelveticaThin.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLight"; */
@font-face {
    font-family: "HelveticaUltraLight";
    src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot");
    src: url("../fonts/HelveticaUltraLight/HelveticaUltraLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaUltraLight/HelveticaUltraLight.woff") format("woff"),
    url("../fonts/HelveticaUltraLight/HelveticaUltraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBoldItalic"; */
@font-face {
    font-family: "HelveticaBoldItalic";
    src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot");
    src: url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.woff") format("woff"),
    url("../fonts/HelveticaBoldItalic/HelveticaBoldItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaBlackItalic"; */
@font-face {
    font-family: "HelveticaBlackItalic";
    src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot");
    src: url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.woff") format("woff"),
    url("../fonts/HelveticaBlackItalic/HelveticaBlackItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaLightItalic"; */
@font-face {
    font-family: "HelveticaLightItalic";
    src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot");
    src: url("../fonts/HelveticaLightItalic/HelveticaLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaLightItalic/HelveticaLightItalic.woff") format("woff"),
    url("../fonts/HelveticaLightItalic/HelveticaLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaMediumItalic"; */
@font-face {
    font-family: "HelveticaMediumItalic";
    src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot");
    src: url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.woff") format("woff"),
    url("../fonts/HelveticaMediumItalic/HelveticaMediumItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaHeavyItalic"; */
@font-face {
    font-family: "HelveticaHeavyItalic";
    src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot");
    src: url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.woff") format("woff"),
    url("../fonts/HelveticaHeavyItalic/HelveticaHeavyItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaThinItalic"; */
@font-face {
    font-family: "HelveticaThinItalic";
    src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot");
    src: url("../fonts/HelveticaThinItalic/HelveticaThinItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaThinItalic/HelveticaThinItalic.woff") format("woff"),
    url("../fonts/HelveticaThinItalic/HelveticaThinItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "HelveticaUltraLightItalic"; */
@font-face {
    font-family: "HelveticaUltraLightItalic";
    src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot");
    src: url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.eot?#iefix")format("embedded-opentype"),
    url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.woff") format("woff"),
    url("../fonts/HelveticaUltraLightItalic/HelveticaUltraLightItalic.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}


body , input, button, textarea, select, legend, h1, h2,h3,h4{
	font-family:"HelveticaLight" !important;/*'Jura', sans-serif */
}
/*h1, h2,h3,h4{
	font-family:"HelveticaHeavy" !important;
}*/
.reg_log {
	font-family:'Jura', sans-serif !important;
	position: relative;

}
.book_cover{
	margin: 10px;
	width: 50%;
}
.book_format{
	width: 100px;
	margin: 10px;
}
.open_nav, .close_nav {
	position: relative;
	display:none;
	margin-left: 10px;
	margin-right: 10px;	
}
::-webkit-scrollbar:vertical{
    width:12px;
}
::-webkit-scrollbar{
    height:12px;
}
::-webkit-scrollbar-corner{
    background-color: transparent;
}
::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-webkit-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: transparent;
}
::-moz-scrollbar:vertical{
    width:12px;
}
::-moz-scrollbar{
    height:12px;
}
::-moz-scrollbar-corner{
    background-color: transparent;
}
::-moz-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}
::-moz-scrollbar-thumb:hover{
    border-width: 1px 1px 1px 2px;
    border-color: #555;
    background-color: #777;
}
::-moz-scrollbar-track{
    border-width:0;
}

::-moz-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: transparent;
}
select{
	/*background-image: url('../../images/Стрелка3.PNG');
	background-position: right center;
	background-repeat: no-repeat;*/
	-moz-appearance: none;
	text-indent: 0.01px; 
	text-overflow: '';
}
input::-webkit-input-placeholder {font-family: 'Jura', sans-serif !important;}
input::-moz-placeholder          {font-family: 'Jura', sans-serif !important;}/* Firefox 19+ */
input:-moz-placeholder           {font-family: 'Jura', sans-serif !important;}/* Firefox 18- */
input:-ms-input-placeholder      {font-family: 'Jura', sans-serif !important;}
.sel{
	/*width: 206px;*/
	height: 28px !important;
	margin-bottom: 0px !important;
}
.sel1{
	height: 20px !important;
}
.inpt{
	margin-right: 20px;
}
.button {
	margin-right: 2px;
	margin-left: 120px;
}
header {
	margin: 10px;
	text-align: center;
}
.cont{
	margin-top: 10px;
} 
.photo{
	/*width: 20mm;
	height: 20mm;*/
	max-width: 140px;
	position: relative;
	overflow: hidden;
	margin-left: 0px !important;
	margin-bottom: 20px;
}
.contact {
	margin-top: 30px;
	width: 170px;
	height: 300px;
}
.contact {
	border: 1px solid #C2BEBE;	
}
.choose_photo, .choose_photo1, .choose_photo2, .choose_photo3, .choose_photo4{
	position: absolute;
	z-index: 10;
	opacity: 0;
	cursor: pointer !important;
	top: 0px;
	left:0px;
}
.choose_photo{
	left: 7px;
}
.btn_choose_photo {
	position: relative;
	left: 0px;
	top: 0px;
	width: 200px;
	height: 40px;
	background-color: rgba(0,32,53,1);
	cursor: pointer;
	color: rgba(145,145,147,1);
	margin: 10px;
	overflow: hidden;
}
.bottom_l2{
	margin-bottom: 10px;
}
.bottom_l2, .bottom_r , .bottom_l{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
}
.bottom_r , .bottom_l{
	float: right;
}
.bottom_r {
	margin: 10px;
}
.open_comment {
	width: 100%;
	height: 30px;
	background-color: white;
	color: rgb(31,59,77) !important;
}
.coment_block{
	display: none;
}
.main_content {
	min-height: 500px;
}
.nvg {
	padding-top: 20px;
}
.days, .months {
	margin-right: -20px;
	position: relative;
	z-index: 1;
}
.months {
	margin-left: -20px;
}
.title:hover::after
{
	top: -7px;
	right: 0px;	
}
.title2:hover::after
{
	top: 10px;
	right: 30px;
}
.title1:hover::after
{
	top: 100px;
	right: 0px;
}
.title3:hover::after
{
	top: -40px;
	right: 0px;
}
.title4:hover::after
{
	top: -25px;
	left: 50%;	
	width: 60px;
	font-size: 12pt !important;
	color: rgba(255,255,255,0.5) !important;
}
.title5:hover::after
{
	top: -20px;
	right: 0px;	
	width: 30px;
	font-size: 10pt !important;
	color: rgba(255,255,255,0.5) !important;
}
.title:hover::after, .title1:hover::after, .title2:hover::after,.title3:hover::after{
	max-width: 200px;
	color: rgba(255,255,255,0.8) !important;
}
.title:hover::after, .title1:hover::after, .title2:hover::after,.title3:hover::after, .title4:hover::after, .title5:hover::after{ 
	padding-top:0px;
	padding-bottom:0px;
	content: attr(data-title);
	position: absolute;
	z-index: 80000;
	background-color: rgba(255,255,255,0);
	height:35px;
	padding: 5px;
	text-align: right;
}
.bg_color {
	background-color: #E5E5E5;
	margin-right: 0px;
	
}
.margin_l {
	padding: 0px;
}
legend {
	text-align:center;
	color: rgba(145,145,147,1);
}
.social_icons {
	margin-right: 50px;
	letter-spacing: 10px;
}
.social_icon {
	color: rgb(138,150,158);
}
.social_icon:hover {
	color: blue;
	cursor: pointer;
}
.background {
	margin-left: 5px;
	padding: 20px; !important;
}
.reg_body, .reg_body7, .reg_body6, .reg_body3, .news_body, .transparent_box, .reg_body4 , .feed_block, .main_scroll{
	background-color: rgba(128,128,220,0.0);
}
.reg_body2{
	background-color: rgba(128,128,220,0.1);
}
.reg_body, .reg_body3 {
	top: 0px;
}
.reg_body3, .reg_body2, .reg_body6, .reg_body4 , .reg_body5 {
	padding: 20px;
	z-index: 3;
	position: absolute;
	left: 0px;	
}
.reg_body {
	padding: 20px;
	z-index: 2;
	position: absolute;
	width: 90%;
	left: 0px;
}
.reg_body2, .reg_body6, .reg_body7{
	top:25px;
}
.reg_body5 {
	overflow-y: scroll;
	font-size: 12pt;
}
.reg_body7{
	padding: 20px;
	position: relative;	
	margin: 0 auto;
}
.reg_body4, .reg_body5 {
	top:50px;
}
.reg_body4{
	width: 97%;
	overflow-y: scroll;
	height: 90%;
}
.reg_body7 table {
	color: rgb(145,145,147)!important;
}
/*********************************Main Page***********************************/
.transparent_box, .transparent_box2 , .transparent_box3, .feed_block {
	padding: 0px;
	margin: 5px;	
	height: auto;
}
 .news_img3 {
	max-width: 40%;
	float: left;
 }
  .news_img4 {
	width: 100%;
	min-height: 10px;
	margin: 0px !important;
 }
 .com {
	max-width: 100%; 
	float: left;
	word-wrap: break-word;
 }
.transparent_box3, .transparent_box {
	width: 100%;
	max-width: 790px;
}
.feed_block{
	width: 30%;
	max-width: 790px;
	min-width: 400px;
	position: relative;
	left: 0;
	opacity: 1;
	min-height: 200px;
	margin: 0 auto;
}

.navbar_main {
	background-color: rgba(12,17,37,1) !important;
	color: white;
	width: 100% !important;
	min-width: 1340px;
}
.feed , .feed2, .feed3{
	width: 100%;
	min-width: 560px;
	/*max-width: 1129px;*/
	margin: 0px;
	padding-right: 30px;
	overflow-y: scroll;	
}
.news_body{
	width: 100%;
	min-width: 560px;
}
.news_block {
	width: 100%;
	min-height: 100px;
	min-width: 350px;
	float: right;
	margin-bottom: 5px !important;
	position: relative;
}
#feed_photo {
	position: absolute;
	top: 0px;
	left:-10%;
	height: auto;
}
.news_block2{
	padding: 20px;
}
.news_block, .friend, .friend_info , .friend_photo, .friend_page  {
	margin: 0px;
	padding: 0px;
}
.news_container  {
	margin: 5px;
	min-height: 30px;
	background-color: white;	
}
.news_container2  {
	margin: 0px;
}
.news_container , .news_container2 {
	padding: 0px;
	width: 97%;
}
.news_block, .friends, .background  {
	background-color: white;
	border: 1px solid #D6D7DE;
}
.news_block, .friends, .background  {
	min-height: 30px;
}
.news_block2{
    background: -webkit-linear-gradient(left, rgba(204,208,211,0.3) 0%, rgba(204,208,211,0.2) 20%, rgba(204,208,211,0.1) 50%,rgba(204,208,211,0) 100%);
    background: -moz-linear-gradient(left, rgba(204,208,211,0.3) 0%,rgba(204,208,211,0.2) 20%, rgba(204,208,211,0.1) 50%,rgba(204,208,211,0) 100%);
    background: -ms-linear-gradient(left, rgba(204,208,211,0.3) 0%, rgba(204,208,211,0.2) 20%,rgba(204,208,211,0.1) 50%, rgba(204,208,211,0) 100%);
	background: linear-gradient(left, rgba(204,208,211,0.3) 0%, rgba(204,208,211,0.2) 20%, rgba(204,208,211,0.1) 50%, rgba(204,208,211,0) 100%);	
	color: rgba(145,145,147,1);
}
.marginAuto{
	margin:0 auto;
}
.news_block2 button, .messager button, .news_block2 textarea, .messager textarea, .messege_personal{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-bottom: 10px;
	background-color: rgba(0,32,53,1) !important; 
}
.news_block2 textarea, .messager textarea, .messege_personal {
	border: none;
	color: white !important;
}
.messege_personal{
	width: 100%;
	min-height: 100px;
	resize: vertical;
	margin: 10px;
}
.messege_personal_block{
	height: auto;
	display: none;
}
.open_messege_block:hover{
	cursor: pointer;
	color: blue;
}
.news_block2 input, .about_user  , .inpt_style, .news_block2 select, .news_block2 span{
    background: -webkit-linear-gradient(left, rgba(0,32,53,1) 0%, rgba(0,32,53,0.5) 20%, rgba(0,32,53,0) 100%) !important;
    background: -moz-linear-gradient(left, rgba(0,32,53,1) 0%,rgba(0,32,53,0.5) 20%, rgba(0,32,53,0) 100%) !important;
    background: -ms-linear-gradient(left, rgba(0,32,53,1) 0%, rgba(0,32,53,0.5) 20%, rgba(0,32,53,0) 100%) !important;
	background: linear-gradient(left, rgba(0,32,53,1) 0%, rgba(0,32,53,0.5) 20%, rgba(0,32,53,0) 100%) !important;	
}
.inpt_style {
	text-align: left;
}
.mini_menu {
	text-decoration: none;
	color: rgba(145,145,147,1) !important;
	max-height: 15px !important;
	max-width: 15px !important;
}


.news_block2 input, .news_block2 button, .news_block2 textarea .about_user, .main_nav input, .main_nav select, .messager button , .news_block2 select{
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;	
	border-radius: 0;
	border: 0;
	color:  rgba(145,145,147,1);
}

.news_block2 legend{
	color:  rgba(145,145,147,1) !important;
	border: 0 !important;
}
.main_user_info{
	width: 460px;
}
.inpt_radio2 {
	margin-left: 10px !important;	
}
.inpt_radio2 , .inpt_radio1 {
	margin-bottom: 5px !important;
}
.main_nav input, .main_nav select {
	background: -webkit-linear-gradient(left, rgba(170,190,225,0.6) 0%, rgba(170,190,225,0.3) 60%,rgba(170,190,225,0.1) 100%) !important;
    background: -moz-linear-gradient(left, rgba(170,190,225,0.6) 0%, rgba(170,190,225,0.3) 60%,rgba(170,190,225,0.1) 100%) !important;
    background: -ms-linear-gradient(left, rgba(170,190,225,0.6) 0%, rgba(170,190,225,0.3) 60%,rgba(170,190,225,0.1) 100%) !important;
	background: linear-gradient(left, rgba(170,190,225,0.6) 0%, rgba(170,190,225,0.3) 60%,rgba(170,190,225,0.1) 100%) !important;	
	color: rgba(145,145,147,1);
}
#sel1 option, #sel2 option, #sel3 option{
	background-color: rgba(0,32,53,1) !important;
}
#sel1{
	width: 250px !important;
}
.textarea_news, .textarea_news2 {
	border: none;
	border-bottom: 1px solid #D6D7DE;
	min-height: 30px;
	max-height: 150px !important;	
	width: 100% !important;
	padding:0px;
	margin-bottom: 0px !important;
	resize: vertical;
} 
.textarea_news2{
	min-height: 90px;	
}
.noscroll {
    overflow: hidden;
}
.hiddendiv {
    display: none;
    white-space: pre-wrap;
    width: 500px;
    min-height: 50px;
    font-family: Arial, sans-serif;
    font-size: 13px;
    padding: 5px;
    word-wrap: break-word;
}
.buttons, .friend_page {
	font-size: 9pt;
}
.friend_page  {
	color: #314B9A !important;
}
.disabled {
    pointer-events: none; 
    cursor: default;  
    color: #999 !important; 
}
.pub_news, .pub_news2 {
	margin: 0px;
	padding: 0px;
	float:left;	
	background-color: #D8D9D9;
	color: rgb(31,59,77) !important;
	text-shadow: none !important;
	min-height: 33px;
} 
.pub_news{
	width: 100%;
}
.l_d_c_sh li a {
	padding: 7px 5px 7px !important;
	color: rgb(31,59,77) !important;
}
.pub_news2{
	width: 50%;
}
.select_class, .select_class2 {
	height: 30px;
	font-size: 9pt;
	margin: 0px;
	padding: 0px;
	border: 0;
	background-color: rgba(255,255,255, 0) !important;
	color: rgb(31,59,77) !important;
	text-align: center;
	line-height: 30px;
}
.select_class{
	width: 130px;
	float: right;
}
.select_class2{
	float: left;
	margin-left: 20px;
}
.select_class option {
	background-color: white !important;
}
.main_nav_photo {
	max-height: 20px !important;
	max-width: 20px !important;
}
.news_img,.description, .news_header, .friends, .coment_for_img{
	margin: 0px;
	padding: 0px;
}
.description, .news_header {
	color: gray;
}
.description, .news_header  {
	-moz-word-wrap: break-word;
	word-wrap: break-word;
	width: 100%;
	margin: 0px !important;
}

.news_description {
	margin-left: 5px;
	min-width: 48%;
	max-width: 100%	;
}
.news_img {
	width: 100%;	
	overflow: hidden;
}
.coment_for_img{
	max-width: 57%;
	height: 100%;
	overflow: hidden;	
}
.friends {
	margin-top: 10px;
	width: 25%;
	min-width: 150px;
	max-width: 213px;
}
.friend{
	width:98%;
}
.friend_info {
	width:65%;
}
.friend_photo {
	width:30%;	
}
.no_ours_friends, .sing {
	font-size: 8pt;
}
.sing  {
	height: 20px;
	padding: 1px;
	float: right;
}
.search, .mainSearch{
	height: 10px;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 10px !important;
}
/*.mainSearch{
	position: absolute !important;
	left: 50%;
}*/
.target1, .target2, .target3, .target4 {
	width: 8px;
	height: 8px;
	position: absolute;
	z-index: 5000;
}
.target1, .target3{
	left: -4px;
	border-left: 1px solid grey;
}
.target2, .target1{
	top: -4px;
	border-top: 1px solid grey;		
}
.target2, .target4 {
	border-right: 1px solid grey;
	right: -4px;	
}
.target3, .target4{
	bottom: -4px;
	border-bottom: 1px solid grey;	
}
.navbar-nav  li{
	margin-bottom: 0px;
	padding-bottom: 0px;
}
.main_navbar{
	padding-bottom: 0px;
	height: 50px;
	width: 100% !important;
	min-width: 1320px !important;
	position: relative;
}
.main_nav{
	margin: 0px !important;
	position: relative;
}
.user_inf_rejt{
	width: auto;
	height: auto;
}

.small_li  {
	margin: 5px;
	margin-bottom: 0px;
	padding-right: 5px !important;
	padding-left: 5px !important;	
	color: rgb(31,59,77) !important;
}

nav {
	height: 50px;
}
.miniMyPhoto {
	max-width: 30px;
	max-height: 30px;
}
.search_btn {
	margin-bottom: 5px;
	padding: 5px;
	padding-left: 10px;
	background-color: rgb(12, 17, 37) !important;
	border: 0 !important;
	color: grey !important;
	position: relative; 
	left: 0; 
	top: -5px
}
.main_search {
	width: 250px !important;
}
.addPhotoVideo, .addAlboom {
	display: none;
	width: 100%;
	min-height: 80px;
	padding:0px;
}
.addStatus {
	display: block;
}
.comment_box, .comment_saved , .people_likes, .people_share{
	display: none;

}
.people_likes2, .people_share2{
	background-color: white;
	position: absolute;
	width: 150px;
	height: 150px;
	top: -450%;
	z-index: 10;
	display: block;	
	margin: 20px;
	border: 1px solid #D6D7DE;	
	overflow-x: scroll;
}
.people_share2{
	left: 130%;
}
.people_likes2{
	left: 80%;
}


.photo_people_likes {
	float: left;
	margin: 5px;
}
.newsfeed_buttons a {
	text-decoration: none;
	color: rgb(31,59,77) !important;
}

.newsfeed_buttons {
	float: left;
	margin: 7px;
}
/****************************Personal Page*******************************/
.margin_for_button {
	margin: 10px;	
}
.info_files, .fr_online, .main{
	height: 400px;
	margin: 0px;
}
.info_files, .main{
	margin-left: 20px;
}
.fr_online {
	margin-left: 14px;
}
.text_area{
	width: 90%
}
.user_name {
	padding: 10px;
}
.marg_for_text_area {
	margin-top: 20px;
}
.mini_user_photo, .mini_user_photo2 {
	max-width: 7%;
	max-height: 7%;
	margin: 3px;
	padding: 0px;
}
.user_name_on_feed, .user_name_on_feed2 {
	font-size: 9pt;
	color: rgb(31,59,77);
	word-wrap: break-word;
	min-height: 20px;
	margin:0px;
	padding: 0px;
}
.user_name_on_feed2 {
	min-width: 200px;
	position: absolute;
	z-index: 2000;
	top: -2px;
	left: 150%;
	text-align: left;
	height: 30px; 
	line-height:30px;
	font-weight: bold;
}
.user_foto_block {
	width: 75px;
	height: 100px;
	overflow: hidden;
	margin: 5px;
	float: left;
	font-size: 8pt;
}
.user_group {
	width: 100%;
	height: 70px;
	font-size: 8pt;
	overflow: hidden;
	margin: 5px;
}
.mini_group_banner {
	width: 50px;
	height: 50px;
	overflow: hidden;
}
#fader {
	width: 100%;
}
.news_comment_description {
	width: 100% !important;
}
.name_in_comment{
	text-decoration: none !important;
	color: black !important;
}
label .name_in_comment {
	line-height: 0;
}
/******************************index2******************************************/
.knowledge_base {
	margin-bottom: 20px;
}
/***************************************************************************/
.divide {
	height: 50px;
}
.prof_select {
	margin-top: 10px;
	margin-right: 10px;
}
/********************************PhotoGalery***********************************/
		body.photo_galery
		{
			background-color: #DFDFDF;
		}
		#photosContainer img 
		{
			width : 90px;
			height: 60px;
			margin : 5px;
			cursor : pointer;
		}
		#shadow
		{
			position : absolute;
			top : 0px;
			left : 0px;
			width : 100%;
			height : 100%;
			background-color : black;
			opacity : 0.4;
			filter : alpha(opacity=40); 
			display : none;
		}
		#photo, #bigPhoto, #comment
		{
			display : none;
		}
		#photo
		{
			position : absolute;
			top : 0px;
			left : 0px;
			width : 100%;
			height : 100%;	
			overflow: auto;
		}
		#bigPhoto
		{
			width : 100%;
			height : 400px;
			background-repeat : no-repeat;
			background-position : center center;
		}
		#comment
		{
			position : relative;
			top : 0px;
			left : 25%;	
			width : 50%;
			background-color: white;
		}
		.block_like 
		{
			height: 40px;
			width : 100%;
		}
		.like:hover,.like:active 
		{
			color: red;
		}
		.photo_icon {
			margin: 10px;
		}
/***************************************************************************/
.news_feed {
	border: 1px solid gray;
	overflow: scroll;
	height: 500px;
	margin: 0px;
	padding: 0px;
}

.block_for_news{
	border: 1px solid gray;
	min-height: 200px;
}
.logo_block{
	text-align: left;
	line-height: 50px;
	width: auto;
	height: 50px;
}
.logo, .logo2{
	margin: 0px !important;
	position: relative;
}
/**********************************************************************************/
.lg_inpt {
	height: 26px !important;
	margin-bottom: 10px;
}
.input_marg {
	margin-bottom: 10px;
}
.display_block{
	display: block !important;
	z-index: 90000 !important;
}
/*.display_block2{
	height: auto !important;
}*/
/***********************Main page***********************************************/
.main_logo_block, .main_words, .main_log_registration, .main_page{
	background-color: rgba(255,255,255,0);
	position: absolute;
	width: 100%;
	color: rgb(145,145,147);
	z-index: 300;
}
.main_logo_block,.main_log_registration{
	text-align: center;	
}
.main_logo_block{
	height: 20%;
}
.main_logo{
	margin-top: 4%;
	height: 100%;	
}
.main_words{
	height: 10%;
	top: 50%;
	vertical-align: middle;
	z-index: 3000;
}
.one_part{
	width: 37%;
	font-size: 18pt;
	text-align: center;
    font-family:'KaufmannBT-Regular';
	color: rgb(91,91,91);
}
/*.first_part {  
	  color: black;
}
.second_part {
	background: linear-gradient(to right, black, grey,white); 
	  -moz-background-clip: text; 
	  -webkit-background-clip: text;  
	  color: transparent;
}*/
.main_log_registration{
	top: 68%;
}
.reg_log{
	margin-top: 40px;
	font-size: 18pt;
	font-weight: bold;
}
.reg_log a, .main_lang a{
	text-decoration: none;
	cursor: pointer;
	color: rgb(145,145,147) !important;
}
.main_lang {
	position: absolute;
	z-index: 400;
	top:35px;
	right:60px;
	font-size: 12pt;
}
.main_page {
	height: 100%
}
/*******************************Messeger*************************************/
.read{
	border-right: 3px solid white !important;
}
.messager {
	width: 460px;
	height: 100%;
	font-family: 'Jura', sans-serif;
	position: relative;
	right: 0;
}
.contacts{
	width: 140px;
	margin-left: 0px !important;
}
.massage{
	width: 300px;
	margin: 10px;	
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	height: 40px !important;		
}
.element {
	width: 97%;
	max-height: 150px;
	overflow: hidden;
	margin-bottom: 10px;
	margin-top: 10px;
	margin-right: 3%;
}
.massage:hover{
	cursor: pointer;
}
.contact_name, .date {
	font-size: 9pt;
	margin-bottom: 0px;
	margin-left: 5px;
}
.user_contact{
	width: 80px;
}
.user_image{
	width: 50px;
}
.mini_User_Image{
	max-width: 45px;
	max-height: 45px;
	margin: 5px;
}
.user_contact, .user_image {
	float: left;
}
.messeger_box, .messeger_box2, .dialog {
	margin-top: 20px;
	overflow: hidden;
	position: relative;	
	top:0;
	right:0;

}
.messeger_box,.messeger_box2, .dialog {
	background: -webkit-linear-gradient(left, rgba(204,208,211,0) 0%, rgba(204,208,211,0.1) 20%, rgba(204,208,211,0.2) 50%,rgba(204,208,211,0.3) 100%);
    background: -moz-linear-gradient(left, rgba(204,208,211,0) 0%, rgba(204,208,211,0.1) 20%, rgba(204,208,211,0.2) 50%,rgba(204,208,211,0.3) 100%);
    background: -ms-linear-gradient(left, rgba(204,208,211,0) 0%, rgba(204,208,211,0.1) 20%, rgba(204,208,211,0.2) 50%,rgba(204,208,211,0.3) 100%);
	background: linear-gradient(left,  rgba(204,208,211,0) 0%, rgba(204,208,211,0.1) 20%, rgba(204,208,211,0.2) 50%,rgba(204,208,211,0.3) 100%);
	color: rgba(145,145,147,1);
	}  
.messeger_box, .messeger_box2{
	display: block;	

}
.dialog {
	display: none;
	height: 500px;
	
}
.my_massage {
	width: 300px;
}
.my_photo_on_dialog {
	width: 80px;
	padding: 10px;
}
.message_field{
	width: 90%;
	margin: 10px;
	border-radius: 0px;
    height: 100px;	
	resize: none;
}
.mini_botton {
	font-size: 9pt;
	line-height: 10px;
	height:20px;
	background-color: #777 !important;
	border: none;
	color: white;
}
.mini_botton:hover {
	background-color: blue !important;
}
.send_massage {
	width: 100%;
	height: 173px;
	position: absolute;	
	bottom:0;
	min-height: 100px;	
}
.send_massage_btn {
	width: 95%;
}
.massenges {
	width: 100%;
	overflow-y: scroll;	
	height: 60%;
}
.face {
	width: 50px;
	height: 50px;
}
.massage_from_me .face, .massage_from_me .massege_text {
	float: right;
}
.massege_text {
	width: 77%;
	min-height: 50px;
	padding: 15px;
	color: white;
	overflow: hidden;
	word-wrap: break-word;
}
.massage_from_me, .massage_from_someone {
	width: 90%;
	min-height: 50px;	
	margin-bottom: 10px;
}
.massage_from_someone{
	float: left;
}
.massage_from_me{
	float: right;
}
.massage_from_me, .massage_from_someone, .element{
    background: -webkit-linear-gradient(left, rgba(0,32,53,0) 0%, rgba(0,32,53,0.5) 20%, rgba(0,32,53,1) 100%);
    background: -moz-linear-gradient(left, rgba(0,32,53,0) 0%, rgba(0,32,53,0.5) 20%, rgba(0,32,53,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,32,53,0) 0%, rgba(0,32,53,0.5) 20%, rgba(0,32,53,1) 100%);
	background: linear-gradient(left, rgba(0,32,53,0) 0%, rgba(0,32,53,0.5) 20%, rgba(0,32,53,1) 100%);
	color:  rgba(145,145,147,1);

}
.massage_from_someone .face, .massage_from_someone .massege_text {
	float: left;
}
#back {
	margin-left: 5px;
	float: right;
}
#back:hover {
	color: gray;
	cursor: pointer;
}
.main_navbar a{
	padding-left: 10px !important;
	padding-right: 10px !important;
}
/********************************************************************/
.nav_circle {
	position: absolute;
	z-index: 80000;
	width: 20px;
	height: 50px;
	left: 11px;
	top: 30px;
	opacity: 1;
}
.line {
	width: 1px;
	height: 20px;
	background-color:rgb(145,145,147);
	margin-left: 10px;
}
.circle {
	width: 20px;
	height: 20px;
	border: 1px solid rgb(145,145,147);	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	color: rgb(145,145,147);
	font-size: 8pt;
	text-align: center;
}
input[type=range] {
    -webkit-appearance: none;
    background-color: transparent !important;
	background: transparent !important;
    width: 210px;
    height:30px;
	color: transparent;
}

input[type="range"]::-webkit-slider-thumb {
     -webkit-appearance: none;
	background: -webkit-linear-gradient(-45deg, rgba(204,208,211,0) 0%, rgba(204,208,211,0) 50%,rgb(145,145,147));
    width: 15px;
    height: 15px;
	position: relative;
	top: -35px;
	left: 2px;
	-webkit-transform: rotate(45deg);	
}
input[type=range]::-webkit-slider-runnable-track {
    width: 210px;
    height: 2px;
    background: rgb(145,145,147);
    border: none;

}
input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
.firefox input[type=range]::-moz-range-track {
    width: 210px;
    height: 2px;
    background: rgb(145,145,147);
    border: none;
}
.firefox input[type=range]::-moz-range-thumb {
    background: -moz-linear-gradient(-45deg, rgba(204,208,211,0) 0%, rgba(204,208,211,0) 50%,rgb(145,145,147));
    background: -ms-linear-gradient(-45deg, rgba(204,208,211,0) 0%, rgba(204,208,211,0) 50%,rgb(145,145,147));
	background: linear-gradient(-45deg, rgba(204,208,211,0) 0%, rgba(204,208,211,0) 50%,rgb(145,145,147));
    width: 10px;
    height: 15px;
	position: relative;
	top: -35px;
	left: 2px;
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.tick0,.tick10,.tick20{
   height: 12px;
}
.tick1,.tick2,.tick3, .tick4,.tick5,.tick6,.tick7,.tick8,.tick9, .tick11,.tick12,.tick13, .tick14,.tick15,.tick16,.tick17,.tick18,.tick19{
   height: 6px;
}

.tick0 {
	left:5px;
}
.tick1 {
	left:15px;
}
.tick2 {
	left:25px;
}
.tick3 {
	left:35px;
}
.tick4 {
	left:45px;
}
.tick5{
	left:55px;
}
.tick6 {
	left:65px;
}
.tick7 {
	left:75px;
}
.tick8 {
	left:85px;
}
.tick9 {
	left:95px;
}
.tick10 {
	left:105px;
}
.tick11{
	left:115px;
}
.tick12 {
	left:125px;
}
.tick13 {
	left:135px;
}
.tick14 {
	left:145px;
}
.tick15 {
	left:155px;
}
.tick16 {
	left:165px;
}
.tick17{
	left:175px;
}
.tick18 {
	left:185px;
}
.tick19 {
	left:195px;
}
.tick20{
	left:205px;
}


.tick0, .tick1, .tick2, .tick3, .tick4 ,.tick5, .tick6, .tick7, .tick8, .tick9, .tick10, .tick11,.tick12, .tick13, .tick14 ,.tick15, .tick16, .tick17, .tick18, .tick19, .tick20
{
    background-color: rgb(145,145,147);
	position: absolute;
	width: 2px;	
}
/*****************************Меню***********************************/
.fa-globe:before{
	content:url("../images/ikosaedron.png") !important;
	opacity:.85;
}

.fa-globe:hover:before{
	opacity:1;
}

#go_to_room {
	/*display: none;*/
	cursor:pointer;
	opacity: .85;
}

#go_to_room:hover {
	opacity:1;
}

#showConnections {
	opacity: .65;
}

#showConnections:hover {
	opacity:.85;
}
/********************************************************************/

@media screen and (max-width:1137px) {
	.main_search,.main_navbar .prof_select ,li  #sel1{
		width: 150px !important;
	}
	.mini_user_photo {
	left: 13%;
	}
}
@media screen and (max-width:1400px) {
	.main_search,.main_navbar .prof_select ,li  #sel1{
		width: 200px !important;
	}
}
/*html, body {
	scrollbar-3dlight-color:red; 
	scrollbar-arrow-color:yellow;
	scrollbar-highlight-color: aqua;
	scrollbar-face-color:green;
	scrollbar-shadow-color:fuchsia;
	scrollbar-darkshadow-color:blue;
	scrollbar-track-color: maroon;
}*/

/* CSS ??????? ??? ????? ????????? ????????? TEXTAREA */

/*textarea {
	scrollbar-base-color:lime !important;
}*/

#cursorLabes {
	display: block;
	margin: 0 50%;
	background-color: #0C1125;
	color: #fff;
	width: 270px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px #bebebe solid;
	border-radius: 20px;
	opacity: .7;
}

.panel{
	font-family: 'PT Sans', sans-serif;
	position: absolute;
	top: 50px;
	left: 0px;
	color: rgba(255,255,255,0.8);
	width: 220px;
	min-height: 250px;
	overflow: hidden;
	background-color: rgba(255,255,255,0.2);
	margin: 5px;
	border: 1px solid rgba(255,255,255,0.5);
}
.p_bottom{
	font-size: 8pt;
}
.panel ul{
	margin-left: 10px;
}
.panel ul li{
	list-style-type: none;
	font-size: 9pt;
}
.panel ul li a{
	cursor: pointer;
	text-decoration: none;
	color: rgba(255,255,255,0.8);
}
.p_bottom {
	color: rgba(0,0,0,0.8);
	position:absolute;
	bottom:0;
	padding: 5px;
}
.panel_head{
	text-align: center;
}
.divider_vertical{
	height: 20px;
	margin: 0 9px;
}
.b_ava {
	width: 100%;
	max-height: 110px;
	overflow: hidden;
	margin: 5px;
	text-align: center;

}
.ava {
	max-width: 75px;
	max-height: 75px;
}

#zoom_control {
	position: absolute;
	top: 80px;
	right: 20px;
	width: 20px;
	overflow: hidden;
}
#zoom_control .zoom_bg {
	display: block;
	width: 100%;
	height: 95%;
}
#zoom_control .zoom_bg .point {
	display: block;
	width: 5px;
	height: 5px;
	background: url('../images/textures/zoom/point.png');
	background-repeat: no-repeat;
	background-size: 5px;
	margin: 0 auto;
}
#zoom_control .zoom_bg .pintup {
	margin-top: 0 !important;
}
#zoom_control .zoom_bg .pintdown {
	margin-bottom: 0 !important;
}
#zoom_control .zoom_bg .zoom_control_line {
	display: block;
	width: 1px;
	height: 100%;
	margin: 0 auto;
	background: #344b5a;
}
#zoom_control #zoom_point {
	position: absolute;
	width: 15px;
	height: 15px;
	left: 3px;
	background: url('../images/textures/zoom/control.png');
	background-repeat: no-repeat;
	background-size: 15px;
	cursor: pointer;
}
.v_colour {
    background-color: #002035 0;
}

.v_txt_colour {
    color: #fff;
}
.v_txt_colour:hover{
	color: #fff !important;
}

.v_border_btn {
    border: 1px solid #fff !important;
}

.v_txt {
    display: block;
    text-align: center;
}

.v_txt_bottom {
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
}

.v_txt_area {
    width: 100%;
	height: 34px;
}

.v_txt_input {
    width: 100%;
/*    color: #fff;*/
}

.v_txt_margin {
    margin-top: 15px;
}

.v_wrapper {
    margin-top: 150px;
    position: absolute;
}

.v_btn_opacity {
    background-color: rgba(0,0,0, 0.1);
}
.v_btn_opacity:hover {
    background-color: rgb(0, 22, 36);
}
.v_btn_opacity:focus {
    background-color: rgb(0, 22, 36);
}

.v_input_opacity {
    opacity: 0;
}
.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
.btn-file input[type=image] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  background: red;
  cursor: inherit;
  display: block;
}
input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.v_rate_margin {
    font-size: 30px;
    margin-left: 20px;
}

.v_colour_like {
/*    color: #F00;*/
    font-size: 1.5em !important;
}
.v_friend_margin {
    margin-left: 15px;
}

.v_subscribe {
    margin-left: 15px;
    transform: rotateY(180deg);
}

.v_msg_new {
    position: relative;
    left: 38px;
    bottom: 7px;
    color: white;
}

.v_msg_menu {
    transform: rotateY(180deg);
}

canvas {
	cursor: url('../images/cursor/normal.cur'), default;
}

.v_books-list > tbody > tr > td {
    padding: 5px;
}

#map_canvas {
	position: absolute;
	width: 400px;
	height: 600px;
	top: 60px;
	right: 0px;
	overflow: hidden;
	z-index: 9999;
	border: 2px #fff solid;
	border-right: 0;
	box-shadow: 0 0 20px #fff;
}
#map_canvas .loadingMapInfo {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.75);
}
#map_canvas .loadingMapInfo span {
	display: block;
	font-size: 30px;
	padding: 10px;
}

#map_canvas #close_map {
	position: relative;
	top: 0;
	left: 0;
	width: 15px;
	height: 15px;
	display: block;
	background: url('/images/close.png') no-repeat;
	background-size: 15px;
	z-index: 1;
	cursor: pointer;
}

.v_scroll-bar {
    width: 90%;
    height: 100%;
    position: absolute;
    opacity: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}

body {
	background: url('/images/mainbg.png') #002035 no-repeat;
	background-size: cover;
}
.img-thumbnail.miniMyPhoto {
    background-color: transparent !important;
    border: none !important;
	}

.v_overflow_wrapper {
/*
    overflow-y: scroll;
    height: 120px;
*/
}
